* {
    margin: 0;
    padding: 0;
}


body {
    background-color: hsl(233, 47%, 7%);
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: hsl(244, 38%, 16%);
    margin: 200px ;
    width: 1000px;
}

.container-2 {
    height: 310px;
}

img {
    height: 363px;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin: 20px;
}

span {
    color: hsl(277, 64%, 61%);
}

.p p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 18px;
    margin: 10px 100px;
    width: 415px;
}

.h4 {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.h4 h4 {
    margin: 35px 0 30px;
}

h5 {
    color: hsla(0, 0%, 100%, 0.6);
    margin: -15px 20px 42px;
}

@media (max-width:950px) {

    .container {
        flex-wrap: wrap;
        width: 450px;
    }

    .title {
        margin: 90px 95px 50px;
        font-size: 19px;
    }

    .h4 {
        flex-direction: column;
    }
}


@media (max-width: 450px) {
    .container {
        width: 80%;
    }

    img {
        width: 350px;
    }

    .title {
        font-size: 13px;
    }

    .p p {
        font-size: 10px;
        width: 300px;
    }
}

@media (min-width: 410) and (max-width: 445) {
    img {
        width: 325px;
    }
}

@media (min-width: 350px) and (max-width: 400px) {
    img {
        width:295px;
    }
}