* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", system-ui;
    gap: 2rem;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    gap: 2rem;
    max-width: 20rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 16px;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.title {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.p {
    text-align: center;
    color: hsl(216, 15%, 48%);
}